<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd
http://java.sun.com/xml/ns/javaee "
         version="2.5">

    <display-name>Counter Web Application</display-name>

    <servlet>
        <servlet-name>helloworld</servlet-name>
        <servlet-class>com.nickbrown.HelloWorldServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>helloworld</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>